.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 70vh;
  font-family: Akshar, sans-serif;
}

.contact_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 400px));
  grid-gap: 25px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 70px 0px;
  min-width: 70%;
}

.contact_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1d3557;
  min-height: 350px;
  max-height: 350px;
}
.contact_card:hover {
  cursor: pointer;
}
.contact_title {
  text-align: center;
  font-size: 50px;
  color: #e63946;
  width: 95%;
  letter-spacing: 0;
  margin: 0;
}

.contact_text {
  color: #1d3557;
  font-weight: 500;
  font-size: 30px;
}

@media only screen and (max-width: 645px) {
  .contact_title {
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .contact_text {
    font-size: 20px;
  }
}
