.footer_container {
  /* min-height: 40px;
  height: 40px;
  max-height: 60px; */
  background-color: #1d3557;
  color: #f1faee;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  position: sticky;
  width: 100%;
  border-top: 5px solid #e63946;
}

.footer_text {
  text-align: center;
  font-family: Akshar, sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
}

.footer_logos_container {
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 4px;
}

.footer_logos {
  margin-left: 4px;
}

@media only screen and (max-width: 750px) {
  .footer_text {
    font-size: 15px;
    letter-spacing: 0.5px;
  }
  .footer_container {
    min-height: 40px;
    max-height: 40px;
  }
  .footer_logos {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 4px;
  }
}
.styles.footer_img {
  min-width: 25px;
}

@media only screen and (max-width: 400px) {
  .footer_logos {
    padding-top: 5px;
    padding-bottom: 4px;
    padding-right: 4px;
  }
  .footer_text {
    font-size: 10px;
    letter-spacing: 0.5px;
    margin-left: 4px;
  }
}
